.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
ul{
    display: flex;
    gap: 20px;
    color: black;
    list-style: none;
    text-decoration: none;

}

.icons{
    gap: 20px;
}